@@ -1,8 +1 @@
V_2_ParkingAsAService/app.js
V_2_ParkingAsAService/package.json
V_2_ParkingAsAService/package.json
V_2_ParkingAsAService/views/owner_homepage.ejs
V_2_ParkingAsAService/views/renter_homepage.ejs
V_2_ParkingAsAService/views/owner_homepage.ejs
V_2_ParkingAsAService/views/renter_homepage.ejs
V_2_ParkingAsAService/package.json
\ No newline at end of file
V_2_ParkingAsAService/public/js/controllers/OwnerController.js
\ No newline at end of file
V_2_ParkingAsAService/public/js/controllers/OwnerController.js
V_2_ParkingAsAService/views/addParkingSpace.ejs
V_2_ParkingAsAService/views/viewparkingspaces.ejs