<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html">
<title></title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="/stylesheets/jquery-1.10.2.min.js"></script>

</head>
<body>
<div class="header text-center">
<h1>View Contracts</h1>
</div>
<div class="row"  ng-app="myApp" ng-controller="Controller">
  <div class="col-md-3">
  <form role="form">
  <div class="form-group">
   <button type="submit" class="btn btn-default" ng-click="view_contracts()">View contracts</button>
   </div>
</form>
  </div>
  <div class="col-md-6"  ng-show="result">
  {{result.result}}
 <ul>
    <li data-ng-repeat="row in result.rows">
      {{ "Renter name: " +row.renter_username +" Owner name: "+ row.owner_username +" Duration : "+row.duration +" hrs "+" Parking Start time:" +row.parkingStartTime
      +"hrs Parking End time:" +row.parkingEndTime+ "hrs Base rate(hourly): " +row.baseRate + "$ Total amount: "+row.totalAmount+ "$"}}
    </li>
  </ul>
  </div>
</div>

<script type="text/javascript">
  var app = angular.module('myApp', []);
  app.controller('Controller', function($scope,$http,$window)
		  {
			$scope.view_contracts = function() {
				window.alert("In controller");
					$http({
						method : "GET",
						url : '/view_contracts',
						data : {
						}
					}).success(function(data) {
						window.alert("In Success");
						$scope.result = data;
					})
				}
			});
		</script>

</body>
</html>
