<html>
<head>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}
</style>
<title>Places Searchbox</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="description" content="Simple Map">
<meta name="keywords" content="ng-map,AngularJS,center">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-oZe92CCa_iLFuh9G38u9O3PQixXZk5I&libraries=places"></script>
<script
	src="/angular-google-maps/dist/angular-google-maps.js"></script>

<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body   ng-app="myApp" ng-controller="Controller">
	
		<div class="section text-center head">
			<!-- <div class="container"> -->
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6" style="font-size: 90%;letter-spacing: 2px;">Parking as a Service</div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
						<div class="btn-group btn-group-lg" style="letter-spacing: 1px;">
							
					<a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
								<span class="badge"> <i
									class="fa fa-border fa-user fa-fw fa-lg glyphi"> </i></span> 
									 <%=user.loggedInUserFname%>
									 <span
								class="fa fa-caret-down"> </span> </i>
							</a> 
							
							<ul class="dropdown-menu" role="menu">
								<li class="hidden-xs mylist"><img alt="no Img"
									src="/images/profile.jpeg" height="50px" width="50px"
									style="padding: 10px;"></li>
								<li class="hidden-xs mylist">
								<a href="" ng-click="ownerProfile()" style="color: gray;">Profile</a></li>
								<li class="hidden-xs mylist">
								<a href="" ng-click="addParkingPage()" style="color: gray;">Add a Parking space</a></li>
								<li class="hidden-xs mylist">
								<a href="" ng-click="viewMyParkingSpaces()"	style="color: gray;">View my parking spaces</a></li>
								<li class="hidden-xs mylist">
								<a href="" ng-click="viewAllOwnerContracts()" style="color: gray;">View all contracts</a></li>
								<li class="mylist">
								<a href="" ng-click="logout()" style="color: gray;">Logout</a>
								</li>
							</ul>
						</div>
						<br>
					</div>
				<!-- </div> -->
			</div>
		</div>
		<div class="btn-group-vertical vertinav" style="min-height: 100%;">
			<div class="container clear-top"
				style="overflow: auto; padding-bottom: 150px;">
				<div class="row">
					<div class="col-md-2">
						<ul class="lead nav nav-pills nav-stacked">
							<li class="hidden-xs"><img alt="no Img"
								src="/images/profile.jpeg" height="130px" width="130px"
								style="border-radius: 70px;"></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="ownerProfile()" style="color: gray;">Profile</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="addParkingPage()" style="color: gray;">Add a Parking space</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="viewMyParkingSpaces()" style="color: gray;">View my parking spaces</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="viewAllOwnerContracts()" style="color: gray;">View all contracts</a></li>
							<li class="mylist">
							<a href="" ng-click="logout()" style="color: gray;">Logout</a>
							</li>
						</ul>
					</div>
					<div class="col-md-8 container-fluid mycontainer">
					<!-- wite code here -->
						<!--<div ng-include="templateView.template"></div>-->
	<div ng-show="added">
	<center><h4>
	Your Parking space has been added!<br>
	You can view it in the "View my Parking Spaces" tab.
	</h4></center>
	</div>
	<br>
						<div class="row" ng-init="initAutocomplete()">
	<input id="pac-input"  class="controls" type="text"
		placeholder="Search Box">
	<div id="map" style="width: 500px; height: 500px;"></div>
	<br>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	
	<input type="button" class="btn btn-primary" ng-click="getLocation()" value="Add parking space">
	<br>
	</div>
					</div>
				</div>

			</div>
		</div>
		<footer class="foot">
			<div>
				<div class="col-md-3" style="padding: 0px;">
					<div class="col-md-2 glyphi">
						<a><i class="fa fa-border fa-fw fa-lg fa-twitter glyphi"></i></a>
					</div>
					<div class="col-md-2 glyphi">
						<a><i class="fa fa-border fa-facebook fa-fw fa-lg glyphi"></i></a>
					</div>
					<div class="col-md-2 glyphi">
						<a><i class="fa fa-border fa-fw fa-lg fa-linkedin glyphi"></i></a>
					</div>
				</div>
			</div>
		</footer>
	<script type="text/javascript">
// This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.

var app = angular.module('myApp', []);
app.controller('Controller', function($scope,$http,$location,$window)
		  {
	  var latti="hellooutside";
	  $scope.added="false";
	  $scope.initAutocomplete = function()
	  {
		
		  
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 37.3343640999999, lng:-121.9103711000000},
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  
  // Create the search box and link it to the UI element.
  $scope.input = document.getElementById('pac-input');
  
  var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));
 
 
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(document.getElementById('pac-input'));

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  $scope.lattitude;
  $scope.longitude;
  $scope.lat="hello";
  
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));
    
      $scope.lattitude=place.geometry.location.lat();
      $scope.longitude=place.geometry.location.lng();
      //alert("Lattitude" + $scope.lattitude+ "Longitude" +$scope.longitude );

    latti=$scope.lattitude;
    //console.log("Value outside"+latti);
      //alert("Lattitude" + latti);
      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
  //console.log("Value outside"+latti);
  // [END region_getplaces]
}
	  //lat lng
	  	$scope.lati=0;
		$scope.longi=0;
		$scope.getLocation=function(){
			$scope.added="true";
			$scope.address=document.getElementById('pac-input').value;
			$scope.strArray = $scope.address.split(",");
			$scope.city=$scope.strArray[1];
			console.log("city:" +$scope.strArray[1]);
		 $scope.geocoder = new google.maps.Geocoder(); 
		 $scope.geocoder.geocode({address:$scope.address}, function (results,status){ 
	    	          $scope.p = results[0].geometry.location;
	    	         $scope.lati=$scope.p.lat();
	    	         $scope.longi=$scope.p.lng();    

	    	         
	    	         $http({
						method : "POST",
						url : '/addParkingSpace',
						data : {
							
							"address":$scope.address,
							"city":$scope.city,
							"lattitude" : $scope.lati,
							"longitude" : $scope.longi
						}
					}).success(function(data) {
						console.log("Parking space added");
						$scope.result = "Parking space added";
					})
		
			});		
			  
		}
		

		$scope.ownerProfile = function() {
			console.log("In Profile controller");
			$window.location="/ownerProfile";
			};
			
			$scope.addParkingPage = function() {
			console.log("In owner controller");
			$window.location="/addParkingPage";
			};
			
			$scope.viewMyParkingSpaces = function() {
				console.log("In viewMyParkingSpaces controller");
				$window.location="/waytoviewparkingspaces";
				};
				
				$scope.viewAllOwnerContracts = function() {
					console.log("In viewAllOwnerContracts controller");
					$window.location="/view_contracts";
					};
					
					$scope.logout = function() {
						$window.location="/logout";
					};		
				
		  });
    </script>

</body>

</html>
