<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}
</style>
<title>Places Searchbox</title>

<link rel='stylesheet' href='/stylesheets/style.css' />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="description" content="Simple Map">
<meta name="keywords" content="ng-map,AngularJS,center">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-oZe92CCa_iLFuh9G38u9O3PQixXZk5I&libraries=places"></script>
<script
	src="/angular-google-maps/dist/angular-google-maps.js"></script>
</head>
<body>
<div class="row"  ng-app="myApp" ng-controller="Controller" ng-init="initAutocomplete()">
<%=message%>
	<input id="pac-input"  class="controls" type="text"
		placeholder="Search Box">
	<div id="map" style="width: 500px; height: 500px;"></div>
	<br>
	<input type="button" ng-click="getLocation()" value="Add parking space">
	{{lati+ " " +longi}} 
	<br>
	</div>
	
	<script type="text/javascript">
// This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.

var app = angular.module('myApp', []);
app.controller('Controller', function($scope,$http,$location)
		  {
	  var latti="hellooutside";
	  $scope.initAutocomplete = function()
	  {
		  
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 37.3343640999999, lng:-121.9103711000000},
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  
  // Create the search box and link it to the UI element.
  $scope.input = document.getElementById('pac-input');
  
  var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));
 
 
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(document.getElementById('pac-input'));

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  $scope.lattitude;
  $scope.longitude;
  $scope.lat="hello";
  
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));
    
      $scope.lattitude=place.geometry.location.lat();
      $scope.longitude=place.geometry.location.lng();
      //alert("Lattitude" + $scope.lattitude+ "Longitude" +$scope.longitude );

    latti=$scope.lattitude;
    //console.log("Value outside"+latti);
      //alert("Lattitude" + latti);
      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
  //console.log("Value outside"+latti);
  // [END region_getplaces]
}
	  //lat lng
	  	$scope.lati=0;
		$scope.longi=0;
		$scope.getLocation=function(){
				
			$scope.address=document.getElementById('pac-input').value;
			console.log("address:" +$scope.address);
		 $scope.geocoder = new google.maps.Geocoder(); 
		 $scope.geocoder.geocode({address:$scope.address}, function (results,status){ 
	    	          $scope.p = results[0].geometry.location;
	    	         $scope.lati=$scope.p.lat();
	    	         $scope.longi=$scope.p.lng();    
	    	         console.log("inside: " +$scope.p.lat() +" "+$scope.p.lat());
	    	         //window.location='/sign_up';
	    	         
	    	         $http({
						method : "POST",
						url : '/addParkingSpace',
						data : {
							"lattitude" : $scope.lati,
							"longitude" : $scope.longi
						}
					}).success(function(data) {
						$scope.result = "Accepted";
						//window.location.assign('/');
					})
					
			});		
			  console.log("outside: " +$scope.lati +" "+$scope.longi);
		}
	  
		  });
    </script>
</body>
</html>