<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link rel='stylesheet' href='/stylesheets/home.css' />
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-oZe92CCa_iLFuh9G38u9O3PQixXZk5I&libraries=places"
	async defer></script>
<script src="/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="../js/searchbox.js"></script>
</head>
<body ng-app="app" ng-controller="ownerController">
	
		<div class="section text-center head">
			<!-- <div class="container"> -->
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6" style="font-size: 90%;letter-spacing: 2px;">Parking as a Service</div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
						<div class="btn-group btn-group-lg" style="letter-spacing: 1px;">
						
							<a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
								<span class="badge"> <i
									class="fa fa-border fa-user fa-fw fa-lg glyphi"> </i></span> 
									 <%=user.loggedInUserFname%>
									 <span
								class="fa fa-caret-down"> </span> </i>
							</a> 

							<ul class="dropdown-menu" role="menu">
								<li class="hidden-xs"><img alt="no Img"
								src="/images/profile.jpeg" height="130px" width="130px"
								style="border-radius: 70px;"></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="ownerProfile()" style="color: gray;">Profile</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="addParkingPage()" style="color: gray;">Add a Parking space</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="viewMyParkingSpaces()" style="color: gray;">View my parking spaces</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="viewAllOwnerContracts()" style="color: gray;">View all contracts</a></li>
							<li class="mylist">
							<a href="" ng-click="logout()" style="color: gray;">Logout</a>
							</li>
								</li>
							</ul>
							
						</div>
						<br>
					</div>
				<!-- </div> -->
			</div>
		</div>
		<div class="btn-group-vertical vertinav" style="min-height: 100%;">
			<div class="container clear-top"
				style="overflow: auto; padding-bottom: 150px;">
				<div class="row">
					<div class="col-md-2">
						
						<ul class="lead nav nav-pills nav-stacked">
							<li class="hidden-xs"><img alt="no Img"
								src="/images/profile.jpeg" height="130px" width="130px"
								style="border-radius: 70px;"></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="ownerProfile()" style="color: gray;">Profile</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="addParkingPage()" style="color: gray;">Add a Parking space</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="viewMyParkingSpaces()" style="color: gray;">View my parking spaces</a></li>
							<li class="hidden-xs mylist">
							<a href="" ng-click="viewAllOwnerContracts()" style="color: gray;">View all contracts</a></li>
							<li class="mylist">
							<a href="" ng-click="logout()" style="color: gray;">Logout</a>
							</li>
						</ul>
						
					</div>
					<div class="col-md-8 container-fluid mycontainer" ng-init="ownerParkingListing()">
					<!-- wite code here -->
						<!--<div ng-include="templateView.template"></div>-->
     
 <div ng-repeat="item in listing">
     <table class="table">
     <tr>
     <th>ADDRESS</th>
     <th>AVAILABILITY</th>
     <TH></TH>
     </tr>
      <TR>
      <TD>
      {{item.address}}
      </TD>
      <TD>
      <input type="checkbox" ng-model="status" ng-checked="item.status=='0'" ng-init="status=(item.status=='0')" ng-click="changeStatus(item.address)">Available</input> 
  <p ng-show="status"> AVAILABLE FROM : <select id ="selectcheckintiming" ng-model="checkIn" class="ng-pristine ng-valid ng-touched" ng-change="GetValue(checkIn)">	
        <option selected="selected" label={{item.availableFrom}}></option>
<option ng-repeat="y in drop1">{{y}}</option></select> </p>
	
<p ng-show="status"> AVAILABLE TO :<select id="selectcheckouttiming" ng-model="checkOut" class="ng-pristine ng-valid ng-touched">
<option selected="selected" label={{item.availableTo}}></option>
<option ng-repeat="x in drop2">{{x}}</option></select>
</TD>
<TD>
	<button ng-click="changeAvailabilityTime(checkIn,checkOut,item.address)">Save</button> </p>
	</TD>
	</TR>
 </table>
					</div>
					
				</div>

			</div>
		</div>
		<footer class="foot">
			<div>
				<div class="col-md-3" style="padding: 0px;">
					<div class="col-md-2 glyphi">
						<a><i class="fa fa-border fa-fw fa-lg fa-twitter glyphi"></i></a>
					</div>
					<div class="col-md-2 glyphi">
						<a><i class="fa fa-border fa-facebook fa-fw fa-lg glyphi"></i></a>
					</div>
					<div class="col-md-2 glyphi">
						<a><i class="fa fa-border fa-fw fa-lg fa-linkedin glyphi"></i></a>
					</div>
				</div>
			</div>
		</footer>
	
<script>
   var app = angular.module('app', []);

app.controller('ownerController',function($scope,$http,$location,$window)
{

var currdate,time,hrs,mins,timestringlength;
    	  $scope.currdate=new Date();
    	  //$scope.status=false;
    	  $scope.time=$scope.currdate.getTime();
    	  $scope.hrs=$scope.currdate.getHours();
    	  $scope.mins=$scope.currdate.getMinutes();
    	  
    	  var year,month,day,dateFormat;
    	  $scope.year = $scope.currdate.getFullYear()+"";
    	  $scope.month = ($scope.currdate.getMonth()+1)+"";
    	  $scope.day = $scope.currdate.getDate()+"";
    	  $scope.dateFormat = $scope.year + "-" + $scope.month + "-" + $scope.day; 
    	  
    	
    	  var drop1;
    	  $scope.drop1=[];
    	  var drop2;
    	  $scope.drop2=[];
    	  var hours;
    	  $scope.hours=parseInt($scope.hrs); 
    	  for(var i=$scope.hours;i<24;i++)
    		  {
    	   if($scope.mins<30)
    		  {
    		  $scope.drop1.push($scope.hours+":30");
    		  $scope.hours=$scope.hours+1;
    		  $scope.drop1.push($scope.hours +":00");
    		  } 
    	   else
    		   {
    		   $scope.drop1.push($scope.hours+1 +":00");
    		   if($scope.hours+1!=24)
    			   {
    		   $scope.drop1.push($scope.hours+1 +":30");
    			   }
    		   $scope.hours=$scope.hours+1;
    		   }
    		  } 

$scope.statusOfParking='0';
 $scope.GetValue = function(checkIn) {
 
    		  console.log("in getValue"+checkIn);
    		  //console.log($scope.drop2+parkingId);
    		 // $scope.parkingId=parkingId;
    		  $scope.checkintime = checkIn;
    		  $scope.timestringlength=parseInt($scope.checkintime.length);
    		  $scope.minposition=parseInt($scope.checkintime.indexOf(":"));
    		  $scope.minutestring=$scope.checkintime.substring($scope.minposition+1,$scope.timestringlength);
    		  $scope.hourstring=$scope.checkintime.substring(0,$scope.minposition);
    		  $scope.hour=parseInt($scope.hourstring);
    		  $scope.drop2.length=0;
    		  for(var i=$scope.hour;i<24;i++)
    			  {
    		  if($scope.minutestring=="30")
    			  {
    			  console.log("in");
    			  $scope.hour=$scope.hour+1;
    			  $scope.hourstring=$scope.hour+":00";
    			  $scope.drop2.push($scope.hourstring);
    			  if($scope.hour!="24")
				  {
    			  $scope.hourstring=$scope.hour+":30";
    			  $scope.drop2.push($scope.hourstring);
				  }
    			  }
    		  else
    			  {
    			  
    			  $scope.hourstring=$scope.hour+":30";
    			  $scope.drop2.push($scope.hourstring);
    			  if($scope.hour!="24")
				  {
    				  $scope.hour=$scope.hour+1;
    				  $scope.hourstring=$scope.hour+":00";
    				  $scope.drop2.push($scope.hourstring);
    				  }
    			  }
    			  }
    	  };

$scope.listing;

$scope.ownerParkingListing=function()
{
$http({
         method: 'POST',
         url: '/listParkingOfOwner',
         data: { "data" : ''}
         
      }).success(function(response){
        $scope.listing=response.parkingSpaceDetails;
        $scope.statusOfParking=$scope.listing.status;
        console.log(response.parkingSpaceDetails[0].availableFrom);
        
     }).error(function(error){
         alert("error");
     });
	
};

$scope.changeAvailabilityTime=function(checkIn,checkOut,parkingSpaceId)
{
console.log("checkin"+checkIn+"checkout"+checkOut+"parkingSpaceid"+parkingSpaceId);


$http({
         method: 'POST',
         url: '/changeAvailableTime',
         data: { "parkingSpaceId" : parkingSpaceId, "availableFrom" : checkIn, "availableTo" : checkOut}
         
      }).success(function(response){
      if(response.result=="Success")
      {
        $scope.listing=response.parkingSpaceDetails;
        console.log(response);
       } 
     }).error(function(error){
         alert("error");
     });

};


$scope.changeStatus=function(parkingSpaceId)
{
if($scope.statusOfParking=='1')
$scope.statusOfParking='0';
else
$scope.statusOfParking='1';
console.log("parkingSpaceid"+parkingSpaceId+" "+$scope.statusOfParking);


$http({
         method: 'POST',
         url: '/changeStatus',
         data: { "parkingSpaceId" : parkingSpaceId, "status" : $scope.statusOfParking}
         
      }).success(function(response){
      if(response.result=="Success")
      {
        $scope.listing=response.parkingSpaceDetails;
        console.log(response);
       } 
     }).error(function(error){
         alert("error");
     });

};


$scope.ownerProfile = function() {
	console.log("In Profile controller");
	$window.location="/ownerProfile";
	};
	
	$scope.addParkingPage = function() {
	console.log("In owner controller");
	$window.location="/addParkingPage";
	};
	
	$scope.viewMyParkingSpaces = function() {
		console.log("In viewMyParkingSpaces controller");
		$window.location="/waytoviewparkingspaces";
		};
		
		$scope.viewAllOwnerContracts = function() {
			console.log("In viewAllOwnerContracts controller");
			$window.location="/view_contracts";
			};
			
			$scope.logout = function() {
				$window.location="/logout";
			};		

});

    </script>

</body>
</html>
